Dependenciesnode_modules/.pnpm-store/Build outputsdist/build/IDEs.vscode/.idea/*.swp*.swoOS files.DS_StoreThumbs.dbEnvironment variables.env.env.local.env.*.localLogsnpm-debug.log*yarn-debug.log*yarn-error.log*Vite*.log